<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shixun.online.cmall.manage.mapper.Catalog3Mapper">
    <select resultType="com.shixun.online.cmall.bean.PmsBaseCatalog3" id="selectAllCAtalog1">
select t.* from pms_base_catalog3 t </select>

</mapper>